{% extends 'base.html.twig' %}
{% block stylesheets %}{{ parent() }}{% endblock %}
{% block title %}Hello FirstController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Controlador de pruebas</h1>
<hr>
    <p>Flash y json</p>
    {% for m in app.flashes('success') %}
        <div class="alert alert-success">{{ m }}</div>
    {% endfor %}
    <hr>
    <hr>
    <a href="{{path('downloadFile')}}"><button class="btn btn-dark">Download File Json</button></a>
    <hr>
    {{ message }}
    <hr>
    <a href="{{path('sendMail')}}"><button class="btn btn-dark">Send mail</button></a>
    <a href="https://symfony.com/doc/current/index.html"><button class="btn btn-dark">Documentation</button></a>
    {{ app.request.get('envio') }}
    <hr>
    <a href="{{path('serializer')}}"><button class="btn btn-warning">Serializar</button></a>
    <p>Objeto Usuario:   nombre:{{ nombre }}  con ID: {{ id }}</p>

</div>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}
